# Data Types, Loops, and Functions

### The Basics:

#### 1. Variable: A simple object, for example, `a = 1`

In [25]:
a = 1

#### 2. List: [], A list is a collection of objects which is ordered and **mutable**

In [26]:
q1 = ["January", "April", "March"]

In [27]:
q1[1] = "February"

#### 3. Tuple: (), A tuple is a collection of objects which is ordered and **immutable**

In [28]:
days = ("Mon","Tues","Wed")

In [29]:
days

('Mon', 'Tues', 'Wed')

In [30]:
days[0]

'Mon'

In [31]:
days[0] = "Sun"

TypeError: 'tuple' object does not support item assignment

#### 4. Dictionary: {}, A dictionary is a collection which is unordered, changeable and indexed objects

In [41]:
new_years_day = {"quarter": 1,
             "day": "Wednesday",
"month": "January",
"date": 1,
"year": 2025
}

In [43]:
new_years_day.keys()

dict_keys(['quarter', 'day', 'month', 'date', 'year'])

In [44]:
new_years_day.values()

dict_values([1, 'Wednesday', 'January', 1, 2025])

### Operators:

- Assignment                x `=` 1
- Addition					x `+` y
- Subtraction				x `-` y	
- Multiplication			x `*` y	
- Division					x `/` y	
- Modulus					x `%` y	
- Exponentiation  			x `**` y	
- Floor division			x `//` y
- Is equal					x `==` y	
- Not equal					x `!=` y	
- Greater than				x `>` y	
- Less than					x `<` y	
- Greater than or equal to	x `>=` y	
- Less than or equal to		x `<=` y

- `and`, Returns True if both statements are true
- `or`, Returns True if one of the statements is true
- `not`, Reverse the result, returns False if the result is true
- `is`, Returns True if both variables are the same object
- `in`, Returns True if a sequence with the specified value is present in the object

<br>

Tips: 
- Be careful! Python is case-sensitive!
- See https://www.w3schools.com/python/python_operators.asp for a complete list.

### 1. Exploring Types

#### 1.1 Strings

In [129]:
# Single Quotes
name = 'Alma'

In [67]:
# Double Quotes 
# Can only use double quotes for strings that contain single quote characters 
occupation = "student"

##### F-Strings & Combining Strings

In [70]:
# Combining strings, using .format{}
intro =  "Hi, my name is {}. I'm a {}.".format(name, occupation)
intro

"Hi, my name is Alma. I'm a student."

In [72]:
intro =  f"Hi, my name is {name}. I'm a {occupation}."
intro

"Hi, my name is Alma. I'm a student."

In [73]:
# Combining strings, using +
intro = "Hi, I'm " + name + ", I'm a " + occupation
intro

"Hi, I'm Alma, I'm a student"

##### Multi-line Strings

In [64]:
new_intro = """Hello!,
I'm Alma. 
What's up?"""
print(new_intro)
# new_intro

Hello!,
I'm Alma.
What's up?

##### String Indexing & Mutability

In [113]:
# Characters in a string are indexable
intro

"Hi, I'm Alma, I'm a student"

##### *Indexing starts at 0! not 1!*

In [116]:
intro[0]

'H'

In [125]:
intro[3]

' '

In [117]:
intro[0] = "a"

TypeError: 'str' object does not support item assignment

In [130]:
# But, we can use a string to modify itself
intro = intro + ". I'm from Kansas City."
intro

"Hi, I'm Alma, I'm a student. I'm from Kansas City.. I'm from Kansas City."

In [127]:
# We can also use +=
name += ' Velazquez' # same as name = name + ' Velazquez'
name

'Alma Velazquez Velazquez Velazquez'

##### Though strings are immutable, we can split them

In [131]:
name.split() # Using ' ' as the default separator

['Alma']

In [132]:
# We can use any separator...
name.split(sep = 'l')

['A', 'ma']

In [123]:
# including the line break as separator
new_intro.split('\n')

['Hello!,', "I'm Alma. ", "What's up?"]

###### Access items at the end of a list or string using negative numbers

In [143]:
wustl = 'WashingtonUniversity'
wustl[-1] 

# Check how the characters are positioned...
#  0   1   2   3   4   5   6   7   8   9  10 11 12 13 14 15 16 17 18 19
#  W   a   s   h   i   n   g   t   o   n   U  n  i  v  e  r  s  i  t  y
#-20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# Notice that W is 0, but y is -1

'y'

In [144]:
# We can recover multiple characters from a string:
wustl[2:] ## index 2 through end

'shingtonUniversity'

In [145]:
wustl[-2:] ## index -2 through end

'ty'

##### Python indices are *NOT* inclusive on the endpoint. Indices are equivalent to:

##### $$[a,b)$$

In [146]:
wustl[0:1]

'W'

##### $$[-\infty,b)$$

In [139]:
# wustl[:2]

In [147]:
wustl[:-2] # up to index -2

'WashingtonUniversi'

In [138]:
# wustl[1:8]

##### `::` Sequences items

In [148]:
wustl[::2] ## sequence, every other

'WsigoUiest'

In [149]:
wustl[::-1] ## sequence, reverse the string

'ytisrevinUnotgnihsaW'

#### 1.2 Integers

In [78]:
type(3)

int

- We can use all mathematical operators with them, but they don't necessarily return integers

In [74]:
3/2 # result is a float not integer

1.5

In [75]:
type(3/2)

float

- Integers are not rounded down in Python 3

In [80]:
int(3/2)

1

In [95]:
int(1.99999)

1

In [48]:
whole = 5//3
whole

1

In [49]:
remainder = 5 % 3
remainder

2

In [55]:
# As with strings, the assignment is flexible
five = 5

In [56]:
five += 1

In [58]:
five /= 3

In [60]:
five -= 1

In [61]:
five *= 2

In [62]:
five

2.0

In [63]:
type(five)

float

#### 1.3 Floats

In [67]:
# Add decimal to integer
type(12) # integer

float

- Floats reflect the real numbers

In [99]:
type(12.0) # float

float

- In Python 3, these are equal.

In [69]:
12/5 == 12.0/5

True

In [68]:
12 == 12.0

True

- ...But not these!

In [100]:
type(12) is type(12.0)

False

#### 1.4 Lists

- A list is a collection of objects which is ordered and mutable 
- Lists can be changed
- Lists can include multiple object types
- Lists will probably be your go-to storage in Python
- Similar to vectors in R, but more flexible

In [152]:
wustl

'WashingtonUniversity'

In [153]:
type(wustl)

str

##### List comprehensions

* We can use a loop-like syntax like the one below to turn a string into a list of its character contents

In [158]:
wustl = [letter for letter in wustl]
wustl

['W',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y']

* We can also re-'join' lists of characters back into larger strings with a separator between them

In [160]:
'-'.join(wustl) # the output is a string

'W-a-s-h-i-n-g-t-o-n-U-n-i-v-e-r-s-i-t-y'

* Using the default separator inverts the list comprehension

In [161]:
''.join(wustl)

'WashingtonUniversity'

* Add a new element to a list using the method `append()`

In [163]:
wustl.append('P')
wustl

['W',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 'P']

* Lists can include multiple types of objects

In [165]:
wustl_chr.append(1) # add integer
wustl_chr.append(['1']) # add list within list
wustl_chr

['W',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 1,
 ['1'],
 1,
 ['1']]

##### List indexing & Mutability

* The same index rules apply as the ones we saw with strings

In [166]:
# wustl_chr[0]
# wustl_chr[-1][0]
wustl_chr[:2]

['W', 'a']

* Lists *ARE* mutable—we can replace objects within them

In [167]:
wustl_chr[0] = 'X'
wustl_chr

['X',
 'a',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 1,
 ['1'],
 1,
 ['1']]

* Use len() to get the length of a list

In [168]:
len(wustl_chr)

24

* Because of zero-indexing, the index position corresponding to the length of the object will fall outside its range

In [169]:
print(wustl_chr[len(wustl_chr)])

IndexError: list index out of range

In [170]:
print(wustl_chr[len(wustl_chr) - 1]) # Return the object at the last index

['1']

* Insert into any position using the method `insert()`

In [81]:
wustl_chr.insert(5, "!")
wustl_chr

['X',
 'a',
 's',
 'h',
 'i',
 '!',
 '!',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 1,
 ['1']]

* Remove from any position using `pop`
    * This will both remove the object in that position and return just that object

In [173]:
wustl.pop(1)
# wustl_chr

'a'

In [174]:
# 'a' is gone
wustl

['W',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P',
 'P']

In [176]:
# Remove/return the object at the last index using 
wustl.pop()
wustl

['W',
 's',
 'h',
 'i',
 'n',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 'P']

* We can also remove using a value with the method `remove()`
    * *BUT* notice, this removes the first instance

In [177]:
wustl_chr.remove('n')
wustl_chr

['X',
 'h',
 'i',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y',
 1,
 ['1'],
 1]

* To remove all instances, try list comprehension syntax

In [85]:
wustl_chr = [i for i in wustl_chr if i != 'i']
wustl_chr

['X',
 's',
 'h',
 '!',
 '!',
 'g',
 't',
 'o',
 'n',
 'U',
 'n',
 'v',
 'e',
 'r',
 's',
 't',
 'y',
 'P',
 1]

In [86]:
# We can check all the methods and attributes in a list using
dir(wustl_chr)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### 1.5 Tuples

In [47]:
l = [7, 'a', '6']
l

[7, 'a', '6']

In [46]:
type(l)

list

##### Compare to similar—but very different—`list` objects

In [49]:
l2 = (7, 'a', '6')
l2

(7, 'a', '6')

In [50]:
type(l2)

tuple

* Tuples are ordered and immutable

In [53]:
tup = (1, 'a', 'a', 11, 6, 5, 'Apple', ['python', 'R'])

In [54]:
tup[1]

'a'

In [178]:
tup[1] = 'b'

TypeError: 'tuple' object does not support item assignment

In [55]:
# Let's check the methods available for tuples
dir(tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [62]:
len(tup)

8

#### 1.6 Dictionaries

* A dictionary is a collection which is unordered, mutable and indexed with keys and values

In [189]:
myInfo = {"name" : "Alma", 
          "status" : "student", 
          "research" : ["IR", "Methods"]}
myInfo

{'name': 'Alma', 'status': 'student', 'research': ['IR', 'Methods']}

* Access keys

In [ ]:
myInfo.keys()

In [195]:
myInfo.keys()

dict_keys(['name', 'status', 'research', 'middle name'])

* Access values

In [202]:
myInfo.values()

dict_values(['Alma', 'student', ['IR', 'Methods'], 'Maria'])

In [203]:
type(myInfo.values())

dict_values

* Numeric indices are invalid for dictionaries; recall they do not have an order

In [197]:
myInfo[0]

KeyError: 0

* Instead, call entries by key

In [198]:
myInfo["name"]

'Alma'

* If you really want to, you can transform `dict_keys` and `dict_values` into `list` types and access objects by their position

In [205]:
list(myInfo.values())[0]

'Alma'

In [208]:
list(myInfo.keys())

['name', 'status', 'research', 'middle name']

In [209]:
myInfo[list(myInfo.keys())[2]]

['IR', 'Methods']

##### ...But if you want to access elements by their order, then lists are probably more appropriate.

* Add new elements to a dictionary by specifying new key/value pairs

In [ ]:
myInfo["middle_name"] = 'Maria'
myInfo

* We can modify values of existing keys by "redefining" them :)

In [ ]:
myInfo["name"] = 'Alma M. Velazquez'
myInfo["research"] = 'IPE'
myInfo

### 2. Exploring Syntax

#### 2.1 Booleans & Conditional Statements

In [212]:
x = 1

##### Conditional Statement Syntax

* Conditional statements let us perform an operation (or several) if a condition of interest is met (or not)

In [ ]:
if x == 1:
	print('x is one')
elif x == 2:
	print('x is two')
else:
	print('x is neither one nor two')

When writing multiple lines of code:
- Indentation matters!
- Even an empty line with spaces can cause errors, Python is very picky about this

In [216]:
if x == 1:
	print('x is one')
elif x == 2:
	print('x is two')
else:
print('x is neither one nor two')

IndentationError: expected an indented block after 'else' statement on line 5 (2140672858.py, line 6)

##### Booleans

In [217]:
True == (1 == 1.0) 
# TRUE == (1 == 1.0)  # Be careful, case sensitive. TRUE does not work

True

In [219]:
False == 0

True

#### 2.2 Loops

##### For Loops

* These perform (a set of) operations repeatedly *for* each element in some iterable object

In [220]:
# A string is an iterable object
for i in wustl:
	print(i)

W
s
h
i
n
g
t
o
n
U
n
i
v
e
r
s
i
t
y
P

* We can iterate over dictionary items in Python 3

In [226]:
# .items(): # .keys(): # .values(): 
for i in myInfo: 
	print(i) # Tuples!

name
status
research
middle name

* We can also iterate over key-value pairs in a dictionary

In [227]:
for key, value in myInfo.items():
	print(key, '->', value) # What does this do?

name -> Alma
status -> student
research -> ['IR', 'Methods']
middle name -> Maria

##### List Comprehensions (again)

* List comprehensions let you write a quick loop that returns resulting elements in a list. This can save many lines of code and efficiently puts loop outputs in a ready-to-use format

In [228]:
sum([.05**i for i in range(1,10)]) # What is happening here?

0.052631578947265625

* Full-loop equivalent:

In [229]:
mynum = [] # instantiate an empty list
for i in range(1,10):
	mynum.append(.05**i)

sum(mynum) # Sum the values in the list

0.052631578947265625

In [230]:
sum(mynum) == sum([.05**i for i in range(1,10)])

True

##### While Loops

* These perform (a set of) operations repeatedly *while* some condition is true

In [ ]:
while len(wustl_chr) > 1:
	wustl_chr.pop()
# What happened to wustl_chr?
wustl_chr

In [340]:
# # Be careful with while loops, they can go forever
# # in ipython or terminal, stop with 'control + c'
# while True:
# 	print(i)
# Kernel interrupt in jupyter nb

##### Loop-Specific Conditions

* `break`: stop the loop and go to the previous level

In [231]:
for i in range(1, 10):
	if i == 5:
		break
	print(i)

1
2
3
4

In [343]:
for j in ['a', 'b', 'c']:
	print(j)
	for i in range(1, 10):
		if i == 5:
			break
		print(i)

a
1
2
3
4
b
1
2
3
4
c
1
2
3
4

* `pass`: pass evaluation to the next level without taking action

In [232]:
for i in range(1,10):
	if i == 5:
		print("I have 5")
	else:
		pass

I have 5

* `continue`: skip the evaluation and return to the same level, next item

In [233]:
for i in range(1, 10):
	if i == 5:
		continue
	print(i)

1
2
3
4
6
7
8
9

#### 2.3 Functions

- Use them to write cleaner code 
- Keep them simple
- We can return any type of object (even multiple objects at once)
- Don't forget to add return for output

##### Basic Syntax

def function_name(parameters):
    DO SOMETHING HERE
    return values

In [236]:
def add_squares(x = 2, y = 2):
	return x**2 + y**2

* Methods operate on data contained in the class, while a function is used to return or pass data. 
* A function can be directly called by its name, but a method cannot. --> OOP

In [237]:
add_squares()

8

* Whether or not default inputs are specified changes the way the function can be called

In [238]:
def add_squares_2(x, y):
	x += 1
	return x**2 + y**2

In [239]:
# add_squares_2()
add_squares_2(1, 2)

8

In [360]:
# Copyright of the original version:

# Copyright (c) 2014 Matt Dickenson
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.